:root {
  --black: #151515;
  --drak-gray: #242424;
  --green: #4ee1a0;
  --light-gray: #d9d9d9;
  --white: #ffffff;
  --orange: #ff6f5b;
  --space: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: #4ee1a0;
  color: #fff;
}
a::selection,
a::selection:hover {
  background-color: transparent;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--space);
  color: var(--white);
  background-color: var(--black);
  position: relative;
}

.nav {
  margin-top: 15px;
  border-bottom: solid 1px #4d4d4d;
  height: 80px;
  /* position: sticky;
  top: 0;
  z-index: 10;
  background-color: inherit; */
}
.logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.444444px;
}

.nav-el {
  gap: 40px;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.nav-el-3 {
  margin-right: 20px;
}
.hero {
  margin-top: 125px;
}
.hero__img img {
  width: 100%;
  height: 100%;
}
.hero__img {
  position: absolute;
  top: -15px;
  right: 205px;
  z-index: -1;
  width: 400px;
  height: 700px;
}

.hero__text {
  max-width: 730px;
}
h1 {
  font-weight: 700;
  font-size: 8rem;
}
.hero__title span {
  border-bottom: solid 6px var(--green);
  display: inline-block;
  line-height: 86px;
  /* padding-bottom: 5px; */
}

.hero__description {
  margin-top: 45px;
  color: var(--light-gray);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.hero a {
  border-bottom: 1px solid var(--green);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 26px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  margin-top: 65px;
  display: inline-block;
  transition: all 0.3s;
}
a:hover {
  color: var(--green);
}
/*skills*/

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  row-gap: 50px;
}
.skills__sec {
  border-top: 1px solid #4d4d4d;
  margin-top: 200px;
  padding-top: 70px;
}
.skills__title,
.skills__item,
.skills__headline {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;

  letter-spacing: -1.5px;
}
.skills__headline {
  margin-bottom: 60px;
}

.skills__description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--light-gray);
}

/* Addtional detailes */
/* done */
.additional__detailes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid #4d4d4d;
  margin-top: 200px;
  padding-top: 70px;
  font-weight: 300;
  font-size: 3rem;
  line-height: 5.6rem;
}
.detailes__1 {
  grid-area: 1/1/1/2;
}
.detailes__2 {
  grid-area: 2/2/2/3;
}

.footer {
  margin-top: 200px;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 91px;
  border-top: 1px solid #4d4d4d;
  padding-top: 70px;
}
.footer__logo {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 32px;
}
.contact {
  gap: 20px;
  /* justify-content: space-around; */
  max-width: 200px;
}

/* Contact form */
.contact__body {
  background-color: var(--drak-gray);
  height: 50rem;
}
.main__contact {
  justify-content: center;
  align-items: center;
}
label {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--light-gray);
}
input {
  background-color: transparent;
  border-bottom: 1px solid #4d4d4d;
  border-right: none;
  border-left: none;
  border-top: none;
}
textarea {
  background-color: transparent;
  border-bottom: 1px solid #4d4d4d;
  border-right: none;
  border-left: none;
  border-top: none;
  height: 5rem;
}
.contact__form {
  flex-direction: column;
  padding-top: 85px;
}
.main__contact h1 {
  font-weight: 700;
  font-size: 8rem;
}
.main__contact p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--light-gray);
}
.main__contact a {
  border-bottom: 1px solid var(--green);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 26px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  margin-top: 65px;
  display: inline-block;
  transition: all 0.3s;
}
.hero__rings {
  width: 530px;
  height: 129px;
  z-index: -1;
  position: absolute;
  top: 148px;
  left: -100px;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.hero__circle {
  width: 130px;
  height: 129px;
  z-index: 1;
  position: absolute;
  top: 530px;
  left: 850px;
  mix-blend-mode: normal;
  opacity: 0.75;
}

@media only screen and (min-width: 480px) and (max-width: 1140px) {
  .flex {
    flex-wrap: wrap;
  }
  .container {
    max-width: 740px;
  }
  .skills__wrapper,
  .additional__detailes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  html {
    font-size: 8px;
  }
  .detailes__1 {
    grid-area: 1/1/1/2;
  }
  .detailes__2 {
    grid-area: 2/2/2/3;
  }
  .hero__text {
    max-width: 70%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .flex {
    flex-wrap: wrap;
  }
  .container {
    max-width: 320px;
  }
  .skills__wrapper,
  .additional__detailes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 50px;
    font-size: ;
  }
  html {
    font-size: 8px;
  }
  .detailes__1 {
    grid-area: auto;
  }
  .detailes__2 {
    grid-area: auto;
  }
  .hero__title {
    margin-top: 62rem;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
