:root {
  --black: #151515;
  --drak-gray: #242424;
  --green: #4ee1a0;
  --light-gray: #d9d9d9;
  --white: #ffffff;
  --orange: #ff6f5b;
  --space: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: #4ee1a0;
  color: #fff;
}
a::selection,
a::selection:hover {
  background-color: transparent;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: var(--space);
  color: var(--white);
  background-color: var(--black);
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
}
ul a {
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--green);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  padding-left: 20px;
  padding-right: 20px;
}
.active {
  color: var(--green);
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

/* Header */
.nav {
  margin-top: 15px;
  border-bottom: solid 1px #4d4d4d;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.444444px;
  animation: Color 4s linear infinite;
  -webkit-animation: Color infinite ease-in-out infinite;
}

.nav-el {
  gap: 40px;
  font-size: 1.4rem;
}
.nav-el-3 {
  margin-right: 20px;
}

/* Hero */
.hero {
  margin-top: 125px;
}
.hero__img {
  position: absolute;
  top: -15px;
  right: 205px;
  z-index: -1;
  width: 400px;
  height: 700px;
}
.hero__img img {
  width: 100%;
  height: 100%;
}

.hero__text {
  max-width: 730px;
}
.hero__title span {
  border-bottom: solid 6px var(--green);
  display: inline-block;
  line-height: 86px;
}
.hero__description {
  margin-top: 45px;
  color: var(--light-gray);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.hero__rings {
  width: 530px;
  height: 129px;
  z-index: -1;
  position: absolute;
  top: 148px;
  left: -100px;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.hero a,
.card__a {
  border-bottom: 1px solid var(--green);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 26px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  margin-top: 65px;
  display: inline-block;
}

/*skills*/

.skills__sec {
  border-top: 1px solid #4d4d4d;
  margin-top: 200px;
  padding-top: 70px;
}
.skills__headline {
  margin-bottom: 60px;
}

.skills__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  row-gap: 50px;
}
.skills__title,
.skills__item,
.skills__headline {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;

  letter-spacing: -1.5px;
}

.skills__description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--light-gray);
}

/* Addtional detailes */

.additional__detailes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid #4d4d4d;
  margin-top: 100px;
  padding-top: 70px;
  font-weight: 300;
  font-size: 3rem;
  line-height: 5.6rem;
}
.detailes__1 {
  grid-area: 1/1/1/2;
}
.detailes__2 {
  grid-area: 2/2/2/3;
}
/* Footer */
.footer {
  margin-top: 100px;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  border-top: 1px solid #4d4d4d;
  padding-top: 40px;
}
.footer__logo {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 32px;
}
.contact__footer {
  gap: 20px;
  max-width: 200px;
}

/* Contact form */
.contact__body {
  margin-top: 100px;
}
.contact__main {
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.contact__main h1 {
  font-weight: 700;
  font-size: 6rem;
}

.contact__main p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.5rem;
  color: var(--light-gray);
  text-align: justify;
}

.contact__main a {
  border-bottom: 1px solid var(--green);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 26px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  margin-top: 65px;
  display: inline-block;
  width: 300px;
}
.contact__p {
  width: auto;
  margin-top: 40px;
}
.contact__form {
  flex-direction: column;
  padding-top: 85px;
  gap: 15px;
}

.form__label {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--light-gray);
}
.contact__form input {
  background-color: transparent;
  border-bottom: 1px solid #4d4d4d;
  border-right: none;
  border-left: none;
  border-top: none;
  width: 500px;
}
textarea {
  background-color: transparent;
  border-bottom: 1px solid #4d4d4d;
  border-right: none;
  border-left: none;
  border-top: none;
  height: 80px;
  width: 500px;
}

/* Projects page */
.project__wrapper {
  justify-content: space-between;
}
.project {
  margin-top: 30px;
}
.project h1 {
  font-weight: 400 !important;
  font-size: 5rem;
}
.card__a {
  width: 150px;
  align-self: flex-end;
}

.project__items {
  margin-top: 100px;
}

.c__title {
  text-align: center;
  color: var(--white);
  font-family: var(--space);
}
.bg-black {
  background-color: var(--drak-gray);
}
.bg-dark {
  background-color: #242424;
}

@media only screen and (min-width: 480px) and (max-width: 1140px) {
  .flex {
    flex-wrap: wrap;
  }
  .container {
    max-width: 1140px;
  }
  .skills__text,
  .additional__detailes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  html {
    font-size: 8px;
  }
  .detailes__1 {
    grid-area: 1/1/1/2;
  }
  .detailes__2 {
    grid-area: 2/2/2/3;
  }
  .hero__text {
    max-width: 50%;
  }
  .hero__img {
    right: 25px;
  }
  .contact__form input {
    width: 300px;
  }
  textarea {
    height: 50px;
    width: 300px;
  }
  .contact__main a {
    border-bottom: 1px solid var(--green);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 26px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 45px;
    display: inline-block;

    width: 150px;
  }
  .contact__main {
    gap: 50px;
  }
  .contact__main h1 {
    font-weight: 600;
    font-size: 8rem;
    text-align: center;
    margin-bottom: 40px;
  }
  .contact__main p {
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
  }
  .nav {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .nav-el {
    font-size: 2rem;
  }
  .footer {
    flex-direction: column;
    gap: 15px;
  }
  .hero__rings {
    visibility: hidden;
  }
  .hero__img {
    position: absolute;
    top: 95px;
    right: 0px;
    z-index: -1;
    width: 300px;
    height: 400px;
  }
  .hero a {
    font-size: 4rem;
  }
  .hero__description {
    font-size: 2.5rem;
    text-align: justify;
  }
  h1 {
    font-weight: 600;
    font-size: 5rem;
  }

  .skills__title,
  .skills__headline {
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
  }
  .skills__description {
    text-align: center;
  }
  .additional__detailes {
    font-size: 4rem;
    text-align: justify;
  }
  .contact__p {
    width: auto;
  }
  .project__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .flex {
    flex-wrap: wrap;
  }
  .container {
    max-width: 480px;
  }
  .skills__text,
  .additional__detailes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 50px;
  }

  html {
    font-size: 8px;
  }
  .detailes__1 {
    grid-area: auto;
  }
  .detailes__2 {
    grid-area: auto;
  }
  .hero__title {
    margin-top: 62rem;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .hero__img {
    position: absolute;
    top: 120px;
    right: 50px;
    z-index: -1;
    width: 300px;
    height: 400px;
  }
  .hero__rings {
    visibility: hidden;
  }
  .nav {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .footer {
    flex-direction: column;
    gap: 15px;
  }
  h1 {
    font-weight: 600;
    font-size: 4rem;
  }
  .skills__title,
  .skills__headline {
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
  }
  .skills__description {
    text-align: center;
  }
  .additional__detailes {
    font-size: 2rem;
    text-align: justify;
  }

  .contact__form input {
    width: 300px;
  }
  textarea {
    height: 50px;
    width: 300px;
  }
  .contact__main a {
    border-bottom: 1px solid var(--green);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 26px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 45px;
    display: inline-block;

    width: 150px;
  }
  .contact__main {
    gap: 50px;
  }
  .contact__main h1 {
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
  }
  .contact__main p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    text-align: justify;
  }
  .contact__p {
    width: auto;
  }
  .project__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* @media (min-width: 280px) and (max-width: 320px) {
  .flex {
    flex-wrap: wrap;
  }
  .container {
    max-width: 320px;
  }
  .skills__text,
  .additional__detailes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }

  html {
    font-size: 6px;
  }
  .detailes__1 {
    grid-area: auto;
  }
  .detailes__2 {
    grid-area: auto;
  }
  .hero__title {
    margin-top: 42rem;
  }
  .skills__sec {
    margin-top: 100px;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .hero__img {
    position: absolute;
    top: 120px;
    right: 40px;
    z-index: -1;
    width: 200px;
    height: 200px;
  }
  .hero__rings {
    visibility: hidden;
  }
  .nav {
    flex-direction: column !important;
    justify-content: center;
    padding-bottom: 10px;
    gap: 10px;
  }
  .footer {
    flex-direction: column;
    gap: 15px;
  }
  h1 {
    font-weight: 600;
    font-size: 4rem;
  }
  .skills__title,
  .skills__headline {
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
  }
  .skills__description {
    text-align: center;
  }
  .additional__detailes {
    font-size: 2rem;
    text-align: justify;
  }

  .contact__form input {
    width: 150px;
  }
  textarea {
    height: 30px;
    width: 150px;
  }
  .contact__main a {
    border-bottom: 1px solid var(--green);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 26px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 35px;
    display: inline-block;

    width: 150px;
  }
  .contact__main {
    gap: 50px;
  }
  .contact__main h1 {
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
  }
  .contact__main p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    text-align: justify;
  }
  .contact__p {
    width: auto;
  }
  .project__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

@keyframes Color {
  0% {
    color: var(--green);
  }

  33% {
    color: black;
  }
  66% {
    color: var(--white);
  }
}

@-moz-keyframes Color {
  0% {
    color: var(--green);
  }

  33% {
    color: var(--light-gray);
  }
  66% {
    color: var(--white);
  }
}
@-webkit-keyframes Color {
  0% {
    color: var(--green);
  }

  33% {
    color: var(--light-gray);
  }
  66% {
    color: var(--white);
  }
}
